@font-face {
    font-family: font1;
    src: url(./fonts/GraphikMedium.otf);
}

@font-face {
    font-family: font2;
    src: url(./fonts/GraphikRegular.otf);
}

body{
    font-family: 'font1', sans-serif !important;
    background-color: #02151E !important;
}

.contest{
    font-size: 24px;
    color: rgb(8, 8, 8);
    font-weight: 600;
}

.type{
    font-family: 'font2' !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 0%;
}

.circuit, .paper, .brain, .project, .hint, .meme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.intro{
    background-color: #1A73E8;
    color: #E8F1FD;
    border-radius: 10px;
}

.intro p{
    font-size: 30px;
    font-weight: 600;
}

.circuit{
    background-color: rgb(154, 226, 185);
    border-radius: 10px;
    
}

.paper{
    background-color: rgb(203, 224, 241);
    border-radius: 10px;
}

.brain{
    background-color: rgb(253, 190, 211);
    border-radius: 10px;
}

.project{
    background-color: rgb(255, 227, 166);
    border-radius: 10px;
}

.hint{
    background-color: #c5bcec;
    border-radius: 10px;
}

.meme{
    background-color: #dfdfdf;
    border-radius: 10px;
}

.team{
    background-color: #f7ffd2;
    border-radius: 10px;
    padding: 10%;
}

footer{
    font-family: 'font2' !important;
    text-align: center;
    color: #fff;
}
